@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Lobster|Monoton|Press+Start+2P');

/* font-family: 'Lobster', cursive;

    font-family: 'Monoton', cursive;

    font-family: 'Press Start 2P', cursive;

    font-family: 'Black Ops One', cursive; */

:root {
  --text-color: #333333;
}

body {
  overflow-x: hidden;
  background-color: #4b4b4b;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(assets/bg_pattern/esch.png);
  background-repeat: repeat;
}

header {
  font-family: 'Lobster', cursive;
  width: 40vw;
  font-size: 3rem;
  margin: 8px auto;
  padding-bottom: 8px;
  text-align: center;
  color: lightgreen;
  border-bottom: 3px solid lightgreen;
}

.game-scene {
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.game-content-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 20vw);
  justify-items: center;
  align-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 8vw;
  background-color: rgba(245, 245, 245, 0.1);
  border-radius: 15px;
}

.game-control-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.1);
  border-radius: 15px 15px 0px 0px;
  border-bottom: 5px dotted rgba(17, 17, 17, 0.3);
}

.game-control-wrapper .game-level-btngrp {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.game-control-wrapper button {
  font-family: 'Lobster', cursive;
  font-size: 2vh;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.game-control-wrapper button:hover {
  background-color: orangered;
  color: whitesmoke;
}

.game-control-wrapper button.active {
  border: 2px solid lightcoral;
  background-color: indigo;
  color: wheat;
}

.easy {
  background-color: #2196f3;
  color: #ffffff;
}

.medium {
  background-color: goldenrod;
  color: var(--text-color);
}

.hard {
  background-color: rgb(225, 0, 80);
  color: #ffffff;
}

/* game-details-wrapper */
.game-details-wrapper {
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}

.game-details-wrapper div {
  margin: 10px 5px;
  padding: 10px;
  background-color: #aaaaaa;
  width: 10rem;
  text-align: center;
  border-radius: 15px;
}

.game-details-wrapper div > span {
  display: block;
  font-family: 'Black Ops One', cursive;
  color: lightgreen;
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
}

.overlay {
  grid-column: 1/-1;
  grid-row: 1/-1;
  font-family: 'Monoton', cursive;
  font-size: 5rem;
  color: var(--text-color);
  background-color: white;
  opacity: 0.7;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  height: 20px;
  padding: 10px;
  font-family: 'Lobster', cursive;
  font-size: 1.4rem;
  background-color: #aaaaaa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .author span {
  margin-left: 2rem;
}

/*************************************************************************CSS-FLIP***************************************************/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip speed goes here */
.flipper {
  display: flex;
  justify-content: start;
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: relative;
  top: 0;
  left: 0;
  /* hack to make the flip effect work without position:absolute */
  width: 0.1em;
}

/* front pane, placed above back, initially hidden pane  */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(180deg);
}

.front img {
  width: 15vh;
}

/* back */
.back {
  transform: rotateY(0deg);
}

.back img {
  width: 15vh;
}

/* MEDIA QUERIES*/
/* Small devices (landscape phones, 576px and up) */
/* @media screen and (max-width: 767.98px) { */
@media screen and (max-width: 1280px) {
  header {
    font-size: 2rem;
    width: 70vw;
  }

  .game-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(30vw, 1fr));
    padding-right: 20vw;
  }

  .game-control-wrapper button {
    margin: 10px 5px;
    border-radius: 10px;
    font-weight: bold;
    height: 2rem;
    cursor: pointer;
    width: 100%;
  }

  .game-details-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    justify-content: center;
    margin-bottom: 0.8rem;
    width: 50%;
  }

  .game-details-wrapper div {
    background-color: #aaaaaa;
    text-align: center;
    border-radius: 15px;
  }

  .game-details-wrapper div > span {
    display: block;
    font-family: 'Black Ops One', cursive;
    color: lightgreen;
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
  }

  .front img {
    width: 15vw;
  }
  .back img {
    width: 15vw;
  }

  footer {
    font-size: 0.8rem;
    justify-content: space-around;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 900px) {
  header {
    font-size: 4rem;
  }
}
