@import url("https://fonts.googleapis.com/css?family=Black+Ops+One|Lobster|Monoton|Press+Start+2P");

/* font-family: 'Lobster', cursive;

    font-family: 'Monoton', cursive;

    font-family: 'Press Start 2P', cursive;

    font-family: 'Black Ops One', cursive; */

/**********************************************/

:root {
  --text-color: #333333;
}

body {
  overflow-x: hidden;
  background-color: #4b4b4b;
  margin: 0;
  padding: 0;
  background-image: url(assets/bg_pattern/esch.png);
  background-repeat: repeat;
}

header {
  font-family: "Lobster", cursive;
  width: 80vw;
  font-size: 10vw;
  margin: 8px auto;
  padding-bottom: 8px;
  text-align: center;
  color: lightgreen;
  border-bottom: 3px solid lightgreen;
}

.game-scene {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.game-control-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px;
}

.game-control-wrapper .game-level-btngrp {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 5px;
}

.game-control-wrapper button {
  font-family: "Lobster", cursive;
  font-size: 3vh;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.game-control-wrapper button:hover {
  background-color: orangered;
  color: whitesmoke;
}

.game-control-wrapper button.active {
  border: 2px solid lightcoral;
  background-color: indigo;
  color: wheat;
}

.easy {
  background-color: #2196f3;
  color: #ffffff;
}

.medium {
  background-color: goldenrod;
  color: var(--text-color);
}

.hard {
  background-color: rgb(225, 0, 80);
  color: #ffffff;
}

.game-details-wrapper {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}

.game-details-wrapper div {
  margin: 10px 5px;
  padding: 10px;
  background-color: #aaaaaa;
  width: 33.33333333%;
  text-align: center;
  border-radius: 15px;
}

.game-details-wrapper div > span {
  display: block;
  font-family: "Black Ops One", cursive;
  font-size: 1.1rem;
  color: lightgreen;
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 15px;
  width: 5.2rem;
  margin: 0 auto;
}

.game-content-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-gap: 20px;
  justify-content: center;
  perspective: 1900px;
  width: 70vw;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 15px;
}

.overlay {
  grid-column: 1/-1;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 4vw;
  color: var(--text-color);
  background-color: white;
  border-radius: 15px;
  opacity: 0.5;
}

footer {
  display: flex;
  justify-content: space-around;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: "Lobster", cursive;
  font-size: 1rem;
  background-color: #aaaaaa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .author span {
  padding-left: 2rem;
}

/*************************************************************************CSS-FLIP***************************************************/

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "overlap";
  transform-style: preserve-3d;
  transition: 0.5s all ease-in-out;
  padding: 15px;
  background-color: rgb(255, 118, 101);
  border-radius: 10px;
  padding: 10px;
}
.front {
  grid-area: overlap;
  transform: rotateY(180deg);
}

.back {
  transform: rotateY(0deg);
  grid-area: overlap;
}
.back,
.front img {
  width: 100%;
  object-fit: contain;
}

.back,
.front {
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 756px) {
  .game-content-wrapper {
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    width: 100vw;
    grid-gap: 10px;
    margin-bottom: 50px;
  }

  .overlay {
    font-size: 10vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 900px) {
  header {
    font-size: 4rem;
  }
}
